/*
* Custom variables
*/
/* Screen sizes */
/*
* Override Bootstrap variables
*/
* {
  box-sizing: border-box; }

body {
  color: #666;
  font-size: 16px; }

header {
  padding-top: 80px;
  margin-bottom: 20px; }
  header .titles {
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      header .titles {
        bottom: 50%; } }
    header .titles img {
      top: 150px;
      width: 200px;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        header .titles img {
          width: 150px;
          height: 150px; } }
  header h1, header h2, header h4 {
    width: 100%;
    color: #FFF;
    margin: 0; }
  header h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 0.06em;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-size: 1.8em; } }
  header h2 {
    font-size: 16px;
    width: 70%;
    margin: 0 auto; }
    @media screen and (min-width: 1200px) {
      header h2 {
        width: 100%;
        margin: 0; } }
  header h4 {
    font-size: 1.3em; }
  header .social {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px; }
    header .social a {
      margin: 0 10px;
      color: #FFF;
      opacity: 0.8; }
      header .social a:hover {
        opacity: 1.0; }

.form-alert {
  display: none; }

.divider {
  height: 2px;
  width: 20%;
  display: block;
  /* for use on default inline elements like span */
  margin: 9px 40%;
  overflow: hidden;
  background-color: #fff;
  text-align: center; }

.content-wrap h1 {
  margin: 40px 0 20px 0;
  color: #0d47a1; }
.content-wrap .divider {
  margin-bottom: 30px; }

.card-title {
  height: 40px;
  font-size: 1.1em; }
  @media screen and (max-width: 992px) {
    .card-title {
      font-size: 1em; } }

.content {
  margin-top: 130px; }
  .content .item-box {
    margin: 0 0 30px 0; }
    .content .item-box img {
      width: 100%; }
    .content .item-box h3 {
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-size: 14px;
      font-weight: 700;
      text-align: left;
      padding: 50px 0;
      color: #bbbbbb; }
    .content .item-box .item-wrap {
      text-align: center; }
      .content .item-box .item-wrap p {
        font-size: 1.4em; }
    .content .item-box .description {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      background: #FFF;
      color: #9b9b9b;
      letter-spacing: 1px;
      padding: 15px;
      height: 75px;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis; }

.footer-bottom {
  background: #4285F4;
  padding: 10px 60px;
  border-top: 2px solid #eeeeee;
  letter-spacing: 2px;
  text-align: center;
  color: #eeeeee;
  text-transform: uppercase; }
  @media screen and (min-width: 992px) {
    .footer-bottom {
      padding: 40px 0; } }

/*# sourceMappingURL=styles.css.map */
