/*
* Custom variables
*/
$main-font: 'Roboto', sans-serif;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #666;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$primary-blue: #0d47a1;
$secondary-blue: #4285F4;
$accent-color: #FF3D00;
 
$padding: 10px;
$margin: 10px;

/* Screen sizes */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;
$navbar-default-bg: transparent;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: $secondary-blue;
$navbar-default-link-active-color: $white;

// Navbar toggle
$navbar-default-toggle-hover-bg: $secondary-blue;
$navbar-default-toggle-icon-bar-bg: $white;
$navbar-default-toggle-border-color: transparent !default;

* {
    box-sizing: border-box;
}
 
body {
    color: $grey;
    font-size: $font-size;
}


 
header {
    padding-top: 80px;
    margin-bottom: 20px;
    
    .titles {
        width: 100%;
        text-align: center;
 
        @media screen and (min-width: $screen-lg) {
            bottom: 50%;
        }

        img {
            top: 150px;
            width: 200px;
            margin-bottom: 20px;

            @media screen and (max-width: $screen-sm) {
                width: 150px;
                height: 150px;
            }
        }
    }
 
    h1, h2, h4 {
        width: 100%;
        color: $white;
        margin: 0;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.4em;
        letter-spacing: 0.06em;
        margin-bottom: $margin;
 
        @media screen and (max-width: $screen-sm) {
            font-size: 1.8em;
        }
     }
 
     h2 {
        font-size: 16px;
        width: 70%;
        margin: 0 auto;
 
        @media screen and (min-width: $screen-lg) {
            width: 100%;
            margin: 0;
        }
     }

     h4 {
        font-size: 1.3em;
     }

     .social {
        position: relative;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 30px;

        a {
            margin: 0 10px;
            color: $white;
            opacity: 0.8;
 
            &:hover {
                opacity: 1.0;
            }
        }
    }
}

.form-alert {
    display: none;
}

.divider {
    height: 2px;
    width:20%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 40%;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.content-wrap {
    h1 {
        margin: 40px 0 20px 0;
        color: $primary-blue;
    }

    .divider {
        margin-bottom: 30px;
    }
}

.card-title {
    height: 40px;
    font-size: 1.1em;

    @media screen and (max-width: $screen-md) {
        font-size: 1em;
    }
}

.content {
    margin-top: 130px;

    .item-box {
        margin: 0 0 $margin*3 0;
        
        img {
            width: 100%;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            padding: $padding*5 0;
            color: darken($lightgrey, 20%);
        }

        .item-wrap {
            text-align: center;

            p {
                font-size: 1.4em;
            }
        }

        .description {
            font-family: $main-font;
            font-size: 12px;
            background: $white;
            color: $mediumgrey;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 75px;
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
        }
    }
}

.footer-bottom {
    background: $secondary-blue;
    padding: $padding $padding*6;
    border-top: 2px solid $lightgrey;
    letter-spacing: 2px;
    text-align: center;
    color: $lightgrey;
    text-transform: uppercase;
 
    @media screen and (min-width: $screen-md) {
        padding: $padding*4 0;
    }
}